
IgnitionQAAutomation/.DS_Store
IgnitionQAAutomation/target/generated-sources
IgnitionQAAutomation/target/generated-test-sources
IgnitionQAAutomation/target/maven-status
IgnitionQAAutomation/target/classes
IgnitionQAAutomation/.idea
AFS_Automation/OMS_Automation/target
AFS_Automation/WMS_Automation/target